exec_default load_kbp kernel_path=\KBOOT\KERNEL.BIN
exec_default_timeout 5

menu_entry {
	name Start KSys
	exec load_kbp kernel_path=\KBOOT\KERNEL.BIN
}

menu_entry {
	name Start Linux
	exec load_linux kernel_path=\Linux\bzImage initrd_path=\Linux\initrd
}

menu_entry {
	name Power Options
	menu {
		menu_entry {
			name Reboot into UEFI
			exec reboot uefi=true
		}
		
		menu_entry {
			name Reboot
			exec reboot
		}
		
		menu_entry {
			name Shutdown
			exec shutdown
		}
	}
}

; Command for loading an os with the linux boot protocol
command {
	name load_linux
	parameter kernel_path
	parameter initrd_path
	protocol {
		load path=$kernel_path:kernel position=dynamic/linux type=kernel/linux
		
		initrd path=$initrd_path format=linux

		exec jump kernel=kernel
	}
}

; Command for loading an os with the KBOOT boot protocol
command {
	name load_kbp
	parameter kernel_path
	protocol {
		load path=$kernel_path:kernel position=static/kbp type=kernel/kbp

		bootservices drop

		exec jump kernel=kernel
	}
}
