default ksys
timeout 5

; Menu Entries
entry ksys {
	title "Start KSys"
	run load_kbp kernel_path="/KBOOT/KERNEL.BIN"
}

entry linux {
	title "Start Linux"
	run load_linux kernel_path="/Linux/bzImage" initrd_path="/Linux/initrd"
}

submenu power {
	title "Power Options"

	entry reboot_uefi {
		title "Reboot into UEFI"
		run reboot uefi=true
	}

	entry reboot {
		title "Reboot"
		run reboot
	}

	entry shutdown {
		title "Shutdown"
		run shutdown
	}
}

; Commands

; Load an OS with the Linux boot protocol
command load_linux {
	param kernel_path
	param initrd_path
	
	steps {
		load file=$kernel_path as=kernel kind=kernel protocol=linux placement=dynamic
		initrd file=$initrd_path format=linux
		jump target=kernel
	}
}

; Load an OS using the KBOOT boot protocol
command load_kbp {
	param kernel_path

	steps {
		load file=$kernel_path as=kernel kind=kernel protocol=kbp placement=static
		exit_boot_services
		jump target=kernel
	}
}
